<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" v-model="mytext"/>
        {{mytext}}
        <textarea v-model="mytext"></textarea>
        <br/>
        <input type="checkbox" v-model="isChecked"/>name
        {{isChecked}}

        <p>sport?
            <template v-for="i in sport">
                <input type="checkbox"  v-model="group" :value="i.name"/>{{i.name}}
            </template> 
        </p> 
        <div>checkbox sport :  {{group}}</div> 
        <div> not check sport:  {{notInGroup}}</div>

        <p>favorite language?
            <input type="radio" v-model="picked" value="c" />c
            <input type="radio" v-model="picked" value="java" />java
            <input type="radio" v-model="picked" value="php" />php
        </p>
        {{picked}}
    </div>
    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                mytext:"",
                isChecked:false,
                sport:[{key:0,name:'swim'},{key:1,name:'run'},{key:2,name:'skate'}],
                group:[],
                picked:""
            },
            computed: {   
                notInGroup(){
                    return this.sport.filter(item=>!this.group.includes(item.name))
                }
            },
        })
    </script>
</body>
</html>